body {
    margin: 0;
}

.tb {
    padding-top: 100px;
    position: relative;
    background-color: #54BAB9;
    width: 100%;
    height: 580px;
    text-align: center;
}

.h1 {
    margin-bottom: 0%;
    font-size: 60px;
    color: white;
}

.anime {
    position: relative;
    width: 130px;
    height: 130px;
    bottom: 200px;
    right: 370px;
    margin-left: auto;
    margin-right: auto;
}

.h3 {
    margin: 0%;
    font-size: 30px;
}

.cloud1 {
    position: absolute;
    top: 250px;
    left: 0px;
    right: 450px;
    margin-left: auto;
    margin-right: auto;
}

.cloud2 {
    position: absolute;
    left: 550px;
    top: 150px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.mountain {
    position: absolute;
    top: 370px;
    left: 0px;
    right: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.mountain2 {
    position: absolute;
    top: 370px;
    left: 210px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

.box {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    color: #343148;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    background: #fff;
    border: 1px solid #343148;
    transition: .3s;
}

.ul {
    position: absolute;
    top: 0px;
    left: 850px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

.mb {
    position: relative;
    text-align: center;
    background-color: #54BAB9;
    height: 100%;
    margin: 0%;
}

.aboutme {
    text-align: center;
    position: relative;
    top: 0px;
    left: 200px;
    bottom: 200px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    display: inline-block;
    width: 300pxpx;
    color: white;
    font-size: 50px;
    border: solid white;
    border-width: 8px;
    border-color: cadetblue;
    border-style: inset;
    font-style: italic;
}

.mygoalslist {
    position: relative;
    right: 10px;
    color: rgb(203, 219, 212);
    font-size: 40px;
    border-bottom: double black;
    border-width: 5px;
}

.currentwork {
    position: relative;
    right: 10px;
    color: rgb(203, 219, 212);
    font-size: 40px;
    border-bottom: double black;
    border-width: 5px;
}

.mygoals {
    display: inline-block;
    position: relative;
    top: 220px;
    right: 20%;
}

.working {
    display: inline-block;
    position: relative;
    top: 220px;
    right: 15%;
}


/* ***************************************contact wali file yahan se hai************************************************
*******
*
*
*
*
************************************************************************************************************************* */

.body2 {
    margin: 0%;
}

.hey {
    margin: 0%;
}

.contactdiv {
    position: absolute;
    background-color: #54BAB9;
    width: 150%;
    height: 100%px;
}

.mypic {
    position: relative;
    top: 15px;
    left: 90px;
    width: 330px;
    height: 330px;
}

.hey {
    text-align: center;
    display: inline-block;
    width: 500px;
    color: white;
    font-size: 70px;
    position: relative;
    left: 100px;
    bottom: 250px;
}

.study {
    text-align: center;
    display: inline-block;
    width: 500px;
    color: white;
    font-size: 30px;
    position: relative;
    width: 450px;
    left: 440px;
    bottom: 250px;
}

.university1 {
    text-align: center;
    margin-bottom: 0px;
    color: blue;
    font-size: 25px;
    position: relative;
    width: 5px;
    height: 40px;
    left: 440px;
    bottom: 250px;
}

.location {
    text-align: center;
    margin-top: 0%;
    color: white;
    width: 200px;
    font-size: 35px;
    position: relative;
    left: 400px;
    bottom: 250px;
}

.note {
    position: relative;
    bottom: 160px;
    left: 30px;
    color: white;
    font-size: 40px;
    font-style: italic;
    width: 700px;
}
